.about {
    display: flex;
    justify-content: space-between;

    &_img {
        img {
            width: 100%;
            max-width: 960px;
            vertical-align: top;
        }
    }

    &_container {
        display: flex;
        justify-content: end;
        align-items: center;

        &_text {
            max-width: 500px;
            padding: 0 15px;
            margin-right: 160px;

            h2 {
                margin-bottom: 60px;
                font-family: $font;
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 59px;
                text-align: right;
                color: $tcb;
            }

            p {
                margin-bottom: 40px;
                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                text-align: right;
                color: #606060;
            }
        }

        .about-scroll-bar{
            padding: 15px;
        }
    }
}