.about {
    display: flex;
    justify-content: space-between;

    &_img {
        img {
            width: 100%;
            max-width: 960px;
        }
    }

    &_container {
        display: flex;
        justify-content: end;
        align-items: center;

        &_text {
            max-width: 500px;
            padding: 0 15px;
            margin-right: 160px;

            h2 {
                margin-bottom: 60px;
                font-family: $font;
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 59px;
                text-align: right;
                color: $tcb;
            }

            p {
                margin-bottom: 40px;
                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                text-align: right;
                color: #606060;
            }
        }

        &_scroll-bar {
            padding: 15px;

            .point {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin-bottom: 15px;

                a {
                    display: block;
                    height: 100%;
                }
            }

            .point_black {
                background: #313035;
                box-sizing: border-box;
            }

            .point_white {
                border: 2px solid #8D8C92;
                box-sizing: border-box;
            }
        }
    }
}