.home {
    min-height: 1030px;
    position: relative;

    /* outline: 1px solid red; временная рамка */
    &_img {
        /* обращение к вложенному классу */
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }

    &_container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
}

.home_container-center {
    /* outline: 1px solid red; */
    margin-top: 172px;
    text-align: center;

    h1 {
        /* обращение к вложенному элементу */
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 74px;
        line-height: 90px;
        text-transform: uppercase;
        color: #212733;
    }

    h6 {
        margin-top: 20px;
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }

    .home_btn {
        width: 280px;
        height: 60px;
        display: flex;
        margin: 0 auto;
        margin-top: 60px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 14px 30px;
        border: 1px solid #000000;

        a {
            font-family: $font;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
        }
    }
}