.portfolio {
    min-height: 1000px;
    position: relative;

    &_img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }

    &_content_img {
        position: absolute;
        max-width: 100%;
        bottom: 70px;
        left: 50%;
        transform: translate(-50%);
    }

    &_scroll-bar {
        position: absolute;
        top: 50%;
        transform: translate(-50%);
        right: 15px;
    }

    &_container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;

        h2 {
            position: absolute;
            left: 50%;
        transform: translate(-50%);
            padding: 90px 0 70px 0;
            font-family: $font;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 59px;
            color: $tcb;
        }

        &_go_site {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 360px;
            right: 40px;
            width: 230px;
            height: 55px;
            border: 1px solid #000;
            padding: 14px 30px;
            font-family: $font;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #000000;

            img {
                padding: 0 10px;
            }

            &:hover {
                outline: solid 2px #000;
            }
        }
    }
}