.products {
    background-color: #1a1f25;

    &_container {
        padding: 90px 0;
    }

    h2 {
        padding-bottom: 80px;
        font-family: $font;
        font-style: normal;
        font-weight: 550;
        font-size: 48px;
        line-height: 59px;
        text-align: center;
        color: $tcw;
    }

    .product_card {
        display: grid;
        grid-template-columns: repeat(5, 245px);

        .product {
            border: 1px solid #595959;
            padding: 0 20px;

            &_icon {
                display: block;
                margin: 46px auto 20px;
            }

            p {
                padding: 0 17px;
                padding-bottom: 40px;
                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                color: $tcw;
            }
        }

        .more {
            margin: 80px auto;
            width: 185px;
            height: 55px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 14px 30px;
            border: 1px solid #FFFFFF;

            a {
                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: $tcw;
            }
        }

    }
}