.request {
    position: relative;
    background-color: #000201;

    &_img {
        width: 935px;
        height: 940px;
        object-fit: cover;
        vertical-align: top;
    }

    &_container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 173px;
        left: 0;
        right: 0;
        z-index: 2;

        .left {
            h2 {
                margin-bottom: 85px;
                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 59px;
                color: $tcw;
            }

            p {
                margin-top: 40px;
                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: $tcw;
            }

            input {
                margin-top: 18px;
                width: 500px;
                border: none;
                background: none;
                border-bottom: 1px solid white;
                &:focus {
                    outline: none;
                    color: $tcw;
                }
            }

            .message {
                height: 90px;
            }

            .send {
                margin-top: 65px;
                width: 194px;
                height: 55px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 14px 30px;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                &:hover {
                    cursor: pointer;
                    outline: 2px solid #fff;
                }

                a {
                    font-family: $font;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: $tcw;
                }
            }
        }

        .right {
            h2 {
                text-align: end;
                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 59px;
                color: $tcw;
            }

            .card {
                display: grid;
                grid-template-columns: repeat(3, 194px);
                grid-gap: 10px;
                margin-top: 140px;

                &_item {
                    border: 1px solid #FFFFFF;
                    height: 284px;
                    padding-left: 15px;
                    position: relative;
                    &:hover {
                        background: linear-gradient(180deg, #61B3C9 0%, #074D88 100%);
                        cursor: pointer;
                    }
                    h4 {
                        margin-top: 60px;
                        font-family: $font;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        color: $tcw;
                    }

                    .decription {
                        font-family: $font;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 20px;
                        color: #E8E8E8;
                        position: absolute;
                        top: 98px;
                    }

                    .old_price {
                        font-family: $tcw;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        text-decoration-line: line-through;
                        color: $tcw;
                        position: absolute;
                        top: 202px;
                    }

                    .new_price {
                        font-family: $font;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 29px;
                        color: $tcw;
                        position: absolute;
                        top: 225px;
                    }
                }
            }
        }
    }
}